body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #3e6a56;
  font-family: "Lato", serif;
  font-weight: 300;
  width : 30vw;
  height: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  align-self: center;
  color: white;
}


.board {
    display: grid;
    height: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.01em;
    background-color: black;
}
  
.cell {
    font-size: 2.5em;
    font-weight: bolder;
    background-color: #E0E0E0;
    color: black;
}

.buttonContainer {
    margin-top: 2em;
    align-self: center;
}


.newGame {
    width: 10em;
    height: 3em;
    border-radius: 12px;
    color: white;
    background-color: black;
    font-weight: bold;
}

.gameOverMsg {
    height: 2em;
    align-self: center;
    font-size: 1.6em;
    font-weight: bold;
}