body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #3e6a56;
  font-family: "Lato", serif;
  font-weight: 300;
  width : 30vw;
  height: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  align-self: center;
  color: white;
  text-align: center;
}


.board {
    display: grid;
    height: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.01em;
    background-color:  #3e6a56;
}
  
.cell {
    font-size: 2.8em;
    font-weight: bolder;
    background-color: #D3D3D3;
    color: black;
    border-radius: 8px;
}

.cell:hover,
.cell:active {
  transform: scale(1.01);
}

.buttonContainer {
    margin-top: 2em;
    align-self: center;
    text-align: center;
}


.newGame {
    width: 13em;
    height: 3.5em;
    border-radius: 12px;
    color: white;
    background-color: #E97451;
    font-weight: bold;
    font-size: 1em;
    border: none;
}

.newGame:hover,
.newGame:active {
  background-color:#D25A38;
  transform: scale(1.01);
}

.gameOverMsg {
    height: 2em;
    align-self: center;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    text-align: center;
}